.elementor-kit-7994 {
    --e-global-color-primary: #FFFFFF;
    --e-global-color-secondary: #FFFFFF0A;
    --e-global-color-text: #FFFFFF;
    --e-global-color-accent: #3F82FB;
    --e-global-color-accentsecondary: #0F2453;
    --e-global-color-white: #FFFFFF;
    --e-global-color-black: #000000;
    --e-global-color-divider: #FFFFFF1A;
    --e-global-color-darkdivider: #0F24531A;
    --e-global-color-background: #0F162C;
    --e-global-typography-primary-font-family: "Sora";
    --e-global-typography-primary-font-size: 46px;
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-primary-line-height: 1.2em;
    --e-global-typography-primary-letter-spacing: -0.02em;
    --e-global-typography-secondary-font-family: "Sora";
    --e-global-typography-secondary-font-size: 20px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-secondary-letter-spacing: 0px;
    --e-global-typography-text-font-family: "Sora";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.6em;
    --e-global-typography-text-letter-spacing: 0px;
    --e-global-typography-accent-font-family: "Sora";
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-accent-font-weight: 600;
    --e-global-typography-accent-line-height: 1.25em;
    --e-global-typography-accent-letter-spacing: 0px;
    background-color: var( --e-global-color-background);
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    letter-spacing: var( --e-global-typography-text-letter-spacing);
}

.elementor-kit-7994 button,
.elementor-kit-7994 input[type="button"],
.elementor-kit-7994 input[type="submit"],
.elementor-kit-7994 .elementor-button {
    background-color: transparent;
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    line-height: var( --e-global-typography-accent-line-height);
    letter-spacing: var( --e-global-typography-accent-letter-spacing);
    color: var( --e-global-color-white);
    background-image: linear-gradient(90deg, var( --e-global-color-accentsecondary) 0%, var( --e-global-color-accent) 100%);
    border-radius: 10px 10px 10px 10px;
    padding: 15px 24px 15px 24px;
}

.elementor-kit-7994 button:hover,
.elementor-kit-7994 button:focus,
.elementor-kit-7994 input[type="button"]:hover,
.elementor-kit-7994 input[type="button"]:focus,
.elementor-kit-7994 input[type="submit"]:hover,
.elementor-kit-7994 input[type="submit"]:focus,
.elementor-kit-7994 .elementor-button:hover,
.elementor-kit-7994 .elementor-button:focus {
    background-color: transparent;
    background-image: linear-gradient(90deg, var( --e-global-color-accent) 0%, var( --e-global-color-accentsecondary) 100%);
}

.elementor-kit-7994 h1 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    line-height: var( --e-global-typography-primary-line-height);
    letter-spacing: var( --e-global-typography-primary-letter-spacing);
}

.elementor-kit-7994 h2 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    line-height: var( --e-global-typography-primary-line-height);
    letter-spacing: var( --e-global-typography-primary-letter-spacing);
}

.elementor-kit-7994 h3 {
    color: var( --e-global-color-primary);
}

.elementor-kit-7994 h4 {
    color: var( --e-global-color-primary);
}

.elementor-kit-7994 h5 {
    color: var( --e-global-color-primary);
}

.elementor-kit-7994 h6 {
    color: var( --e-global-color-primary);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1500px;
}

.e-con {
    --container-max-width: 1500px;
}

.elementor-widget:not(:last-child) {
    --kit-widget-spacing: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1440px) {
    .elementor-kit-7994 {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-kit-7994 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-kit-7994 h2 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-kit-7994 button,
    .elementor-kit-7994 input[type="button"],
    .elementor-kit-7994 input[type="submit"],
    .elementor-kit-7994 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1300px;
    }
    .e-con {
        --container-max-width: 1300px;
    }
}

@media(max-width:1024px) {
    .elementor-kit-7994 {
        --e-global-typography-primary-font-size: 36px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-kit-7994 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-kit-7994 h2 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-kit-7994 button,
    .elementor-kit-7994 input[type="button"],
    .elementor-kit-7994 input[type="submit"],
    .elementor-kit-7994 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
        padding: 13px 18px 13px 18px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-7994 {
        --e-global-typography-primary-font-size: 26px;
        --e-global-typography-secondary-font-size: 18px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
        letter-spacing: var( --e-global-typography-text-letter-spacing);
    }
    .elementor-kit-7994 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-kit-7994 h2 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-kit-7994 button,
    .elementor-kit-7994 input[type="button"],
    .elementor-kit-7994 input[type="submit"],
    .elementor-kit-7994 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}